<%= form_for(@goal) do |f| %>
  <% if @goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

      <ul>
      <% @goal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
	<%= f.text_area :user_id %><br />
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <div>
    For the "user" field above, please select a user <b>ID</b> from the below table:<br />
	<i>(This horrible hack will be corrected ASAP)</i>
    <table>
	  <tr><th>ID</th><th>user</th></tr>
    <% @users.each do |user| %>
      <tr><td><%= user.id %></td><td><%= user.email %></td></tr>	
    <% end %>
    </table>
  </div>
<% end %>
