<div id="product_list">
<h1>Listing goals</h1>

<table>
  <tr>
    <th>Description</th>
    <th></th>
  </tr>

<% @goals.each do |goal| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td class="list_description">
	  <dl>
	    <dt><%= link_to goal.short_desc, goal %></dt>
	    <dd><%= truncate(strip_tags(goal.long_desc), :length => 80) %></dd>
	  </dl>
	</td>
    <td class="list_actions">
      <%= link_to 'Edit', edit_goal_path(goal) %></br>
      <%= link_to 'Destroy', goal, :confirm => 'Are you sure?', :method => :delete %>
	</td>
  </tr>
<% end %>
</table>

</div>
<br />

<%= link_to 'New Goal', new_goal_path %>
