<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @goal.title %>
</p>

<p>
  <b>Description:</b>
  <%= @goal.description %>
</p>


<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
