<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
  <td />
  <td class="list_description">
  <dl>
    <dt><%= link_to mission.title, mission %></dt>
    <dd><%= truncate(strip_tags(mission.description), :length => 800) %></dd>
  </dl>
  </td>
  <td>
    <%= link_to '+', acts_path(:mission_id => mission), :method => :post %> <br />
    <%= link_to '-', mission.acts.last, :method => :delete %>
    </td>
    <td><%= mission.acts_day %></td>
    <td><%= mission.acts_week %></td>
    <td><%= mission.acts_month %></td>
    <td><%= mission.acts.count %></td>
    <td class="list_actions">
      <%= link_to 'Edit', edit_mission_path(mission) %></br>
      <%= link_to 'Destroy', mission, :confirm => 'Are you sure?', :method => :delete %>
  </td>
</tr>
