%tr{:id => "mission_#{mission.id}", :class => cycle('table_line_odd', 'table_line_even')}
  %td
  %td.list_description
    %dl
      %dt= link_to mission.title, mission
      %dd= truncate(strip_tags(mission.description), :length => 800)
  %td
    = button_to_function '+', "missionActAdd(\"#{acts_path(:mission_id => mission.id)}\", #{mission.id})" 
    %br/
    = link_to '-', mission.acts.last, :method => :delete
  %td{:class => "day"}= mission.acts_day
  %td{:class => "week"}= mission.acts_week
  %td{:class => "month"}= mission.acts_month
  %td{:class => "total"}= mission.acts.count
  %td.list_actions
    = link_to 'Edit', edit_mission_path(mission)
    = link_to 'Destroy', mission, :confirm => 'Are you sure?', :method => :delete
