<div id="product_list">
<h1>Listing missions</h1>
<h2><%= link_to 'See goals', goals_path %></h2>

<table>
  <tr>
    <th>Goal</th>
	<th>Description</th>
	<th>Acts</th>
	<th>Day</th>
    <th>Week</th>
    <th>Month</th>
    <th>Total</th>
    <th></th>
  </tr>

<% @missions.each do |mission| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td><%= if mission.goal then link_to mission.goal.short_desc, mission.goal end %></td> 
    <td class="list_description">
	  <dl>
	    <dt><%= link_to mission.title, mission %></dt>
		<dd><%= truncate(strip_tags(mission.description), :length => 80) %></dd>
      </dl>
	</td>
	<td>
	    <%= link_to '+', acts_path(:mission_id => mission), :method => :post %> <br />
	    <%= link_to '-', mission.acts.last, :method => :delete %>
    </td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td><%= mission.acts.count %></td>
    <td class="list_actions">
      <%= link_to 'Edit', edit_mission_path(mission) %></br>
      <%= link_to 'Destroy', mission, :confirm => 'Are you sure?', :method => :delete %>
	</td>
  </tr>
<% end %>
</table>
</div>

<br />

<%= link_to 'New Mission', new_mission_path %>
