<div id="product_list">
<h1>Listing <i>Missions</i></h1>
<h2>=====&raquo; <%= link_to 'See goals', goals_path %> &laquo;=====</h2>

<table>
  <tr>
    <th>Goal</th>
	<th>Description</th>
	<th>Acts</th>
	<th>Day</th>
    <th>Week</th>
    <th>Month</th>
    <th>Total</th>
    <th></th>
  </tr>

<% @goals.each do |goal| %>
  <tr class=list_line_goal>
    <td><%= link_to goal.title, goal %></td> 
	<td /><td /><td /><td /><td /><td /><td />
  </tr>
  <% goal.missions.each do |mission| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td />
    <td class="list_description">
	  <dl>
	    <dt><%= link_to mission.title, mission %></dt>
		<dd><%= truncate(strip_tags(mission.description), :length => 800) %></dd>
      </dl>
	</td>
	<td>
	    <%= link_to '+', acts_path(:mission_id => mission), :method => :post %> <br />
	    <%= link_to '-', mission.acts.last, :method => :delete %>
    </td>
	<td><%= mission.acts_day %></td>
	<td><%= mission.acts_week %></td>
	<td><%= mission.acts_month %></td>
	<td><%= mission.acts.count %></td>
    <td class="list_actions">
      <%= link_to 'Edit', edit_mission_path(mission) %></br>
      <%= link_to 'Destroy', mission, :confirm => 'Are you sure?', :method => :delete %>
	</td>
  </tr>
  <% end %>
<% end %>
</table>
</div>

<br />

<%= link_to 'New Mission', new_mission_path %>
