<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @mission.title %>
</p>
<p>
  <b>Description:</b>
  <%= @mission.description %>
</p>
<p>
  <b>Goal:</b>
  <%= if(@mission.goal_id) then @mission.goal.title end %>
</p>
<p>
  <b>Acts:</b>
  <%= @mission.acts.count %>
  <% if !@mission.acts.count.zero? %>
		<i>(last at: 
		<%= @mission.acts.last.updated_at.to_s(:rfc822) %> 
		)</i>
	  <% end %> 
</p>
<%= link_to 'Edit', edit_mission_path(@mission) %> |
<%= link_to 'Back', missions_path %>
