#product_list
  %table
    %tr
      %th Description
      %th
    - @categories.each do |category|
      %tr{:class => cycle('list_line_odd', 'list_line_even')}
        %td.list_description
          %dl
            %dt= link_to category.title, category
            %dd= truncate(strip_tags(category.description), :length => 800)
        %td.list_actions
          = link_to 'Edit', edit_category_path(category)
          = link_to 'Destroy', category, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New Category', new_category_path
