!!! Strict
%html
  %head
    %title GoalDigr : Delete Facebook.  Meet Winners.
    %link{:href => "http://yui.yahooapis.com/2.8.0r4/build/reset-fonts-grids/reset-fonts-grids.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://yui.yahooapis.com/2.8.2r1/build/base/base-min.css", :rel => "stylesheet", :type => "text/css"}/
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    #doc3.yui-t2
      #hd
        %p.theheader
          %span.alignleft
            %span.servicetitle.g
              G
              %span.o> o
              al
              %span.d Digr
            %span.d Delete Facebook.
            %span.g Meet Winners.
          - if @username then
            %span.alignright
              %strong= @username
              |
              %a{:href => ""} My account
              | 
              =link_to 'Sign out', sign_out_path, :method => :delete
      #bd
        #yui-main
          - if flash[:error].present?
            #flash-error
              %ul
                - flash[:error].each do |e|
                  %li= e
          - if flash[:notice].present?
            #flash-notice
              %ul
                %li= flash[:notice]
          .yui-b
            .yui-g
              .main_content
                = yield
        .yui-b.left-hand-menu
          %p &nbsp;
          %p.left-hand-menu_unread= link_to 'Missions', missions_path
          %p.left-hand-menu_unread= link_to 'Goals', goals_path
          %ul
            - if @nav_goals 
              - @nav_goals.each do |goal|
                %li= link_to goal.title, goal
