<h1>Listing acts</h1>

<table>
  <tr>
	<th>Title</th>
    <th>Mission</th>
	<th>CreatedAt</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @acts.each do |act| %>
  <tr>
	<td><%= act.title %></td>
    <td><%= if (act.mission_id) then Mission.find(act.mission_id).title end %></td>
	<td><%= act.created_at.to_s(:rfc822) %></td>
    <td><%= link_to 'Show', act %></td>
    <td><%= link_to 'Edit', edit_act_path(act) %></td>
    <td><%= link_to 'Destroy', act, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Act', new_act_path %>
